@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
  background-image: url("background.png");
  background-position: relative;
}

body {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  width: 800px;
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
}

.pfp {
  /* position: absolute; */
  /* transform: translate(-45%, -50%); */
  border-radius: 50%;
  margin-top: 50px;
}

.heyThere {
  font-weight: normal;
  margin-block-start: 0;
  margin-bottom: 10px;
}

.im {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Poiret One', cursive;
}

code {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.cursor {
  /* opacity: var(--opacity); */
  opacity: 0;
  animation: fade 0.8s linear infinite;
}

@keyframes fade {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}